<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | WellNest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1 class="animated fadeInDown">Welcome to <span class="font-weight-bold">WellNest</span></h1>
        <nav class="mt-3">
            <a href="{{ url_for('auth.login') }}" class="btn btn-outline-light mx-2">Login</a>
            <a href="{{ url_for('auth.signup') }}" class="btn btn-outline-light mx-2" style="background-color: white;color: black;">Sign Up</a>
        </nav>
    </header>
    <main class="container my-5" style="background-color: #EFE3C2;">
        <section class="text-center">
            <h2 style="color: black;"><b>Prioritizing Your Mental Well-being</b></h2>
            <p class="mt-4 animated fadeIn">At WellNest, we understand that mental health is fundamental to living a fulfilling life. Our comprehensive platform serves as your sanctuary for emotional wellness and personal growth.
Whether you're seeking to enhance your daily mental wellness, looking for support during challenging times, or simply wanting to better understand yourself, WellNest provides the tools and guidance you need.
            </p>
            <!-- <button class="btn btn-primary mt-3 btn-lg animated pulse infinite">Learn More</button> -->
        </section>
    </main>
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 WellNest. All Rights Reserved.</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
